<%- include('../partials/head'); %>
    <style>

    </style>

    <body class="bg-gradient-to-br from-blue-50 to-gray-50">
        <%- include('../partials/nav') %>
            hello this is terms
    </body>