<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>404 – Not Found</title>
    <link rel="stylesheet" href="css/404.css">
</head>

<body>
    <div id="stars"></div>
    <div class="container">
        <!-- clean SVG astronaut -->
        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#edf0f5">
            <!-- simple monocolor astronaut icon -->
            <path
                d="M256 0C167.6 0 96 71.6 96 160v48H64c-17.7 0-32 14.3-32 32v128c0 17.7 14.3 32 32 32h384c17.7 0 32-14.3 32-32V240c0-17.7-14.3-32-32-32h-32v-48c0-88.4-71.6-160-160-160zM352 208H160v-48c0-52.9 43.1-96 96-96s96 43.1 96 96v48zm128 160H32v-96h448v96z" />
        </svg>
        <h1>404</h1>
        <p class="message">Sorry, we can't find the page you're looking for.</p>
        <a href="/" class="btn">Go to Homepage</a>
    </div>
    
   <script src="js/404.js"></script>
</body>

</html>
