<%- include('../partials/head'); %>
    </head>

    <body class="flex flex-col h-screen">
        <%- include('../partials/nav'); %>
            <div class="flex">
                <p>Favourites</p>
            </div>
    </body>

    </html>