.makeTodoHeading {
  text-align: center;
  font-size: 5.5rem;
  font-family: 'Poppins';
  font-weight: 600;
  text-decoration: underline;
  color: greenyellow;
  text-shadow: 1px 1px 10px rgb(136, 174, 77);
}

.todoContainer {
  max-height: 90%;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 10px;


  padding: 2rem;

  overflow-y: auto;
  scrollbar-width: 2px;
  scrollbar-color: greenyellow transparent;
  scroll-padding: 10px;



  display: flex;
  flex-direction: column;
  justify-content: stretch;
  row-gap: 2px;


  width: 25%;
  /* 32 perecent of body */

  scroll-behavior: smooth;
}



// Add .addBtn styling
/* From Uiverse.io by sekaiking */
.addBtn {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.addBtn:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

;

.addBtn:active {
  transform: scale(0.5);
  box-shadow: 0 0 0 0 black;
}



